/* Reservia Project Styling */

    /* css reset maybe in use once everything in place 
   * { width: 80%;
    margin: 1.4em auto;
    padding: 0; 
   } */

body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

    /* --- PAGE TOP SECTION --- */

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em auto 2em;
    padding: 0 0.3em;
    width: auto;
    height: 3.5rem;
    border: dashed 2px green;
}

img {
    width: 6.9rem;
    height: 3.2rem;
    background-color: (0,102,252,0);
}

li {
    display: inline;
    list-style: none;
    margin: 0 0 0 3rem;
    border: dotted 2px magenta;
    font-size: 1em;
    color: black;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    /* cursor: pointer; --maybe not really needed! */
}

a:hover, a:active {
    color: #0065fc;
    font-style: italic;
}

a.signup {
    color: #0065fc;
    font-weight: bolder;
}

a.signup:hover, a.signup:active {
    font-style: italic;
}

    /* --- HEADER SECTION --- */

header {
    border: dashed 0.2em orange;
    padding: 0.3em;
}

header h3 {
    margin: 0;
}

header p {
    margin: 0.5em auto;
}

/* SEARCHIFIELD - TAKE 1 ................
#searchfield {
    margin: 1.3em 0;
    width: 19rem;
    height: 3rem;
    box-sizing:border-box;
    border: solid 0.1em lightgrey;
    border-radius: 1.2em;
}

#mapicon {
    padding: 1.15em 1.2em;
    background-color: #F2F2F2;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}

#textfield {
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding: 1.15em 2em;
}

#searchbutton {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: #0065fc;
    padding: 1.15em 2em;
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
} 

*/

    /* --- SEARCH BUTTON --- */

#searchfield {
    display: flex;
    flex-flow: row nowrap;
    justify-content:stretch;
    margin: 1.3rem 0;
    width: 20rem;
    height: 3rem;
}

#mapicon {
    width: 3.3rem;
    height: 3rem;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    text-align: center;
    line-height: 3rem;
    background-color: #F2F2F2;
}
 input {
    width: 10rem;
    padding: 0 0.8rem;
    border: solid 0.1rem #F2F2F2;
    border-right:none;
    font-weight: 700;
    font-size: 1rem;
 }

input[type="search"] {
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    width: 6.8rem;
    height: 3rem;
    padding: 1.15rem 0.rem;
    text-align: center;
    background-color: #0065fc;
    color: white;    
 }

 input[type="search"]: ::-webkit-search-cancel-button {
     -webkit-appearence: none;
 }

    /* --- FILTERS SECTION --- */

 #filters {
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0.5em;
    border: dotted 2px brown;
 }

 h4 {
    display: inline;
 }

 span.button {
    margin: 1.3em;
    padding: 0.3rem 1rem 0.3rem 0;
    width: 11rem;
    height: 3rem;
    border: solid 0.12rem lightgrey;
    border-left-style: none;
    border-radius: 2rem;
    font-weight: 700;
    display:flexbox;
    flex-flow: row nowrap;
    justify-items: center;
    align-items:center;
 }

span i {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0.2rem;
    border-radius: 100%;
    line-height: 1.5rem;
    background-color: #deebff; 
    color: #0065fc;
    position: relative;
    top: -5px;
 }

    /* --- INFO TEXT --- */

 p i {
    width: 1em;
    height: 1em;
    margin-left: 0.3em;
    margin-right: 1em;
    padding: 0.2em;
    border: solid 0.12em lightgrey;
    border-radius: 100%;
    text-align: center;
    color: #0065fc;
 }